.dark{
    color: #83F3ED;
    background: #011627;
i{
    font-size: 1.3rem;
    color: #83F3ED;
}
}

.portoflio .image-fluidd{
    height: 300px;
    object-fit: cover;

}

.portoflio {
.col-lg-3{
    position: relative;
}
    

}

.filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #83F3ED;
    opacity: 0.8;
}




